.project_link_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.project_link {
    text-decoration: none;
    color: #fff;
    font-size: 2.4em;
    margin-left: 3px;
}