.header{
    margin: auto;
    margin-bottom: 15px;
}

.portfolio_layout_container{
    display: flex;
    flex-direction: column;
}

.gitLab_link{
    margin: auto;

}

.footer_image{
    width: 64px;
    height: 64px;
}