.gitHub_container{
    display: flex;
    gap: 5px;
    margin: auto;
    margin-top: 10px;
}

.gitHub_link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    display: flex;
    align-items: center;
    gap: 3px;
}

.github_image{
    width: 32px;
    height: 32px;
}